@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e76f51;
}

h1{
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #6a040f;
}

h2{
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #6a040f;
}

table{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4a261;
    border:5px #ae2012 solid;
    border-radius: 1rem;
    width: 60%;
    height: 60%;
    font-size: 2.7vh;
    font-family: 'Mulish', sans-serif;
}
thead{
    height: 20%;
}
tbody{
    height: 80%;
}
tr{
    display: flex;
    flex-direction: row;
    height: 24.5%;
    border-bottom: 2px solid #ae2012;
}

#cabecalho{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 900;
}
th{
    width:10%;
}
.selecao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100%;
    padding: 0 15px 0 10px ;
    border-right: 2px solid #ae2012;
}
#cabecalho-selecao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

td{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
}

img{
    width: 45px;
}

span{
    width: 30%;
}